*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color:hsl(370deg, 17%, 70%) ;
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /* background-color:red ; */
}

#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(0,208,255);
    background-image: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
    background-position: center;
}



#part3{
    height: 100%;
    width: 17%;
    /* background-color: red; */
}   